@use '../../../custom-theme.scss' as theme;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Estilos para el modal centrado */
#dynamicModal {
    .text-danger {
        font-size: 14px;
    }

    #infoText {
        font-size: 20px !important;
    }

    .modal-header {
        background: var(--degradado-color) !important;
        color: var(--details-color) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1.2rem;

        .modal-title {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .btn-close {
            filter: invert(1);
            opacity: 0.8;
            transition: opacity 0.2s;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal-body {
        padding: 1.5rem;
        font-size: 1.05rem;
        line-height: 1.5;
        background-color: var(--secondary-color);
        color: var(--formInput-color);
    }

    .modal-footer {
        //justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem;
        background-color: var(--secondary-color);

        .btn {
            min-width: 100px;
            margin: 0 0.5rem;
            padding: 0.5rem 1.25rem;
            font-weight: 500;

            &.btn-success {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.btn-primary {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);

        i {
            color: #fff; // Icono azul
        }
    }

    i {
        transition: all 0.2s ease;
    }
}