.fa-rotate-custom {
  transform: rotate(0deg);
  /* Posición inicial: flecha apuntando a la izquierda */
  transition: transform 0.3s ease;
  /* Movimiento suave */
}

.fa-rotate-custom-open {
  transform: rotate(-90deg);
  /* Flecha girada hacia abajo pasando por el lado izquierdo */
  transition: transform 0.3s ease;
}


.content-wrapper {
  background-image: url('/assets/fondo/imagen_2.webp');
  /* Ajusta la ruta a tu imagen */
  background-size: cover;
  /* Asegúrate de que cubra toda el área */
  background-repeat: no-repeat;
  /* Evita que se repita */
  background-attachment: fixed;
  /* Mantén la imagen fija al hacer scroll */
  background-position: center;
  /* Centra la imagen */
  min-height: 100vh;
  /* Asegura que siempre ocupe al menos el alto de la pantalla */
  padding: 1rem;
  /* Mantén un margen interno cómodo */
}

.brand-text {
  font-family: 'Edu QLD Hand', cursive !important;
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 1.2px;
  color: var(--details-color);
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
  align-items: center;
}

.brand-text:hover {
  // color: #0078d7;
  /* Azul vibrante */
  transform: scale(1.05);
}

.brand-image {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.brand-image:hover {
  transform: rotate(5deg) scale(1.1);
  /* Efecto de ligera inclinación */
}

/*======================== SIDEBAR ========================*/
.main-sidebar {
  background: var(--degradado-color) !important;
  /* Fondo negro */
  color: var(--secondary-color);
  font-weight: bold;
}

/* Links en el Sidebar */
.main-sidebar .nav-sidebar>.nav-item>.nav-link {
  color: var(--secondary-color) !important;
  /* Color de texto azul oscuro */

}

.main-sidebar .nav-sidebar>.nav-item>.nav-link:hover {
  background: var(--degradado-color) !important;
  /* Fondo azul en hover */
  color: var(--details-color) !important
    /* Texto negro en hover */
}

/* Títulos del Sidebar */
/*.main-sidebar .sidebar .nav-header {
  color: var(--secondary-color) !important;
  // font-weight: bold;
  text-transform: uppercase;
}*/

/* Ítem Activo */
.main-sidebar .nav-sidebar>.nav-item>.nav-link.active {
  background-color: red !important;
  /* Amarillo brillante */
  color: #000000 !important;
  /* Texto negro */
}

/* Imagen o Logo del Sidebar */
/*.brand-link {
  background: var( --degradado-color) !important;
  color: var( --secondary-color) !important;

}*/

/* .brand-link:hover {
    background-color: var(--primary-color) !important; 
    color: var(--secondary-color) !important; 
  }*/

/* Sombra (Opcional) */
.main-sidebar {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  /* Añade separación visual */
}

.user-panel {
  .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-name {
      font-weight: 500;
      color: var(--secondary-color) !important;
      /* Color amarillo */
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 2px;
      white-space: normal;
      /* Permite saltos de línea */
      word-wrap: break-word;
      /* Fuerza el salto si es necesario */
      /* Espacio entre nombre y rol */
    }

    .user-role {
      color: var(--details-color) !important;
      /* Color negro */
      font-size: 18px;
      font-weight: bold;
      /* Tamaño más pequeño */
      line-height: 1;
      //text-transform: lowercase;
    }
  }

  .profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
  }

  .image {
    margin-top: 8px !important;
  }
}


/*======================== NAVBAR ========================*/
.main-header {
  background: var(--degradado-color) !important;
  /* Fondo negro */
  border-bottom: 2px solid var(--primary-color);
  /* Borde amarillo en la parte inferior */
  color: var(--primary-color);
  /* Texto amarillo */
}



.nav-link {
  color: var(--details-color) !important;
  font-weight: lighter;
}

.nav-link:hover {
  // background: var(--degradado-color) !important;
  /* Fondo amarillo en hover */
  //  color: var(--secondary-color) !important;
  /* Texto negro en hover */
}

.navbar-info-block {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Segoe UI';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar-sede {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Segoe UI';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-align: justify;
  padding: 14px;
}

/* Íconos del Navbar */
.main-header .fas {
  color: var(--details-color) !important;
  /* Íconos amarillos */
}

/*======================== FOOTER ========================*/
.main-footer {
  background-color: var(--secondary-color) !important;
  /* Fondo negro */
  color: var(--primary-color) !important;
  /* Texto amarillo */
  border-top: 2px solid var(--primary-color);
  /* Borde amarillo en la parte superior */
}

/* Links en el Footer */
.main-footer a {
  color: var(--primary-color);
  /* Amarillo para los enlaces */
  font-weight: bold;
}

.main-footer a:hover {
  color: var(--secondary-color);
  /* Texto negro en hover */
  background-color: var(--primary-color);
  /* Fondo amarillo en hover */
}

/*======================== MODAL ========================*/
.modal-header {
  background-color: var(--primary-color) !important;
  color: black;

  .modal-title {
    font-weight: bold;
  }
}

.modal-footer,
.modal-body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centra verticalmente */
  height: 100%;
  /* Asegura que ocupe toda la altura del modal */
}

.modal-body {
  text-align: center;
  height: 80px;
  align-content: center;
  /* Centra horizontalmente el contenido */
}

/* Botón de guardar */
button.btn-success {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.btn-success:hover {
  background-color: #e6c200;
  /* Fondo amarillo más oscuro */
  color: #000000;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4);
  /* Sombra al pasar el mouse */
  transform: scale(1.05);
  /* Efecto de agrandamiento */
}

button.btn-success:active {
  background-color: #cba800;
  transform: scale(0.98);
  /* Efecto de clic */
}