.fa-rotate-custom {
  transform: rotate(0deg);
  /* Posición inicial: flecha apuntando a la izquierda */
  transition: transform 0.3s ease;
  /* Movimiento suave */
}

.fa-rotate-custom-open {
  transform: rotate(-90deg);
  /* Flecha girada hacia abajo pasando por el lado izquierdo */
  transition: transform 0.3s ease;
}


.content-wrapper {
  background-image: url('/assets/fondo/imagen_2.webp');
  /* Ajusta la ruta a tu imagen */
  background-size: cover;
  /* Asegúrate de que cubra toda el área */
  background-repeat: no-repeat;
  /* Evita que se repita */
  background-attachment: fixed;
  /* Mantén la imagen fija al hacer scroll */
  background-position: center;
  /* Centra la imagen */
  min-height: 100vh;
  /* Asegura que siempre ocupe al menos el alto de la pantalla */
  padding: 1rem;
  /* Mantén un margen interno cómodo */
}

.brand-text {
  font-family: 'Edu QLD Hand', cursive !important;
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 1.2px;
  color: var(--details-color);
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
  align-items: center;
}

.brand-text:hover {
  // color: #0078d7;
  /* Azul vibrante */
  transform: scale(1.05);
}

.brand-image {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.brand-image:hover {
  transform: rotate(5deg) scale(1.1);
  /* Efecto de ligera inclinación */
}

/*======================== SIDEBAR ========================*/
.main-sidebar {
  background: var(--degradado-color) !important;
  color: var(--secondary-color);
  font-weight: bold;
  position: fixed;
  top: 0px !important;
  bottom: 60px;
  height: calc(100vh - 116px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1020;
}

.main-sidebar .nav-sidebar>.nav-item>.nav-link {
  color: var(--secondary-color) !important;
}

.main-sidebar .nav-sidebar>.nav-item>.nav-link.active {
  background: var(--degradado-color) !important;
  font-weight: 600;
  // color: var(--details-color) !important;
}

.nav-sidebar .nav-link.active {
  background: linear-gradient(135deg, var(--primary-color) 0%, #2b4f7e 100%) !important;
  font-weight: 600;
  color: var(--details-color) !important;
  border-left: 3px solid var(--primary-color);
  transition: all 0.3s ease;
}

.nav-sidebar .nav-link.active i {
  color: var(--details-color) !important;
}

.main-sidebar {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.user-panel {
  .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-name {
      font-weight: 500;
      color: var(--secondary-color) !important;
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 2px;
      white-space: normal;
      word-wrap: break-word;
    }

    .user-role {
      color: var(--details-color) !important;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
    }
  }

  .profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
  }

  .image {
    margin-top: 8px !important;
  }
}

/*======================== NAVBAR ========================*/
.main-header {
  position: fixed;
  background: var(--degradado-color) !important;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}



.nav-link {
  color: var(--details-color) !important;
  font-weight: lighter;
}

.nav-link:hover {}

.navbar-info-block {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Segoe UI';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar-sede {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Segoe UI';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-align: justify;
  padding: 14px;
}

.sidebar-closing .main-sidebar {
  transition: transform 0.3s ease-in-out;
}

.main-header .fas {
  color: var(--details-color) !important;
}

/*======================== FOOTER ========================*/
.main-footer {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-top: 2px solid var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  height: 60px;
  background-color: var(--secondary-color);
}

.main-footer a {
  color: var(--primary-color);
  font-weight: bold;
}

.main-footer a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/*======================== MODAL ========================*/
.modal-header {
  background: var(--degradado-color) !important;
  color: var(--details-color) !important;

  .modal-title {
    font-weight: bold;
  }
}

.modal-footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-body {
  color: var(--formLabel-color);
  text-align: center;
  height: 80px;
  align-content: center;
}

//scroll
.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

/* Botón de guardar */
button.btn-success {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.btn-success:hover {
  background-color: #e6c200;
  color: #000000;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4);
  transform: scale(1.05);
}

button.btn-success:active {
  background-color: #cba800;
  transform: scale(0.98);
}

.fa-rotate-custom {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.fa-rotate-custom-open {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.menu-expanded>.nav-link {
  background-color: rgba(255, 255, 255, 0.05); // sutil fondo
  font-weight: 500;
  border-left: 3px solid var(--primary-color); // línea decorativa
}