@use '../../../custom-theme.scss' as theme;

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; // Usar viewport height para ocupar toda la pantalla
    position: relative;
    padding: 20px;
    background: none;
}

.login-background {
    position: fixed; // Fija la imagen en la pantalla
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; // Ocupa el 100% del viewport height
    z-index: -1;
}

.login-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: -75px;
    left: 0px;
    z-index: 1;

    @media (max-width: 1228.80px) {
        top: -65px;
    }

    @media (max-width: 1024px) {
        top: -65px;
    }

    @media (max-width: 877.71px) {
        top: -55px;
        left: 30px;
    }

    @media (max-width: 768px) {
        top: -50px;
        left: 47.5%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 320px) {
        top: -50px;
        left: 49%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
    }
}

.login-logo {
    width: 230px;
    margin-left: 10px;


    @media (max-width: 1228.80px) {
        width: 200px;
    }

    @media (max-width: 1024px) {}

    @media (max-width: 877.71px) {
        width: 150px;
    }

    @media (max-width: 790px) {
        margin-left: 0;
    }
}

.login-logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -60px;

    @media (max-width: 1228.80px) {
        margin-left: -45px;
    }

    @media (max-width: 1024px) {
        margin-left: -45px;
    }

    @media (max-width: 877.71px) {
        margin-left: -40px !important;
    }

    @media (max-width: 768px) {
        display: none;
    }


}

.login-logo-title {
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color) !important;


    @media (max-width: 1228.80px) {
        font-size: 27px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 21px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 920px) {
        font-size: 15px;
    }
}

.login-logo-subtitle {
    font-size: 15px;
    color: var(--text-color) !important;

    @media (max-width: 1228.80px) {
        font-size: 14px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 12px; // Aplica un margen izquierdo solo en este rango
    }


    @media (max-width: 920px) {
        font-size: 9px;
    }
}

.login-card-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start;
    margin-top: 140px;

    @media (max-width: 1228.80px) {
        margin-top: 60px;
    }

    @media (max-width: 1024px) {
        margin-top: 60px;
    }

    @media (max-width: 877.71px) {
        margin-top: 20px !important;
        margin-left: -30px !important;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 50px !important;
    }

    @media (max-width: 320px) {
        margin-left: 0px !important;
    }
}

.login-side-text {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;

    @media (max-width: 1396.36px) {
        margin-left: 70px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1228.80px) {
        margin-left: 140px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 790px) {
        display: none; // Ocultar en pantallas pequeñas
    }
}

/* Estilos para las etiquetas (labels) */
.form-label {
    display: block; // Asegura que el label ocupe toda la línea
    text-align: left; // Alinea el texto a la izquierda
    margin-bottom: 0.5rem; // Espacio entre el label y el campo de entrada
    font-weight: bold;
    color: var(--primary-color) !important;
}

/* Estilos para los campos de entrada */
.form-control {
    border-radius: 5px;
    background-color: var(--formInput-color);
    /* Fondo oscuro del input */
    color: var(--text-color);
    //  border: 1px solid var(--primary-color); /* Borde amarillo */
    border: none;

    &:focus {
        border-color: #FFD966;
        /* Borde amarillo más claro al enfocar */
        box-shadow: 0px 0px 5px #FFD966;
    }

    @media (max-width: 1024px) {
        font-size: 14px;
    }

    @media (max-width: 877.71px) {
        font-size: 13px;
    }

}

.form-check-label {
    margin-left: 8px;
    color: var(--text-color) !important;
}

.mb-4 {
    text-align: left;
    margin-left: 20px;

    @media (max-width: 1024px) {
        margin-left: 10px;
    }
}

.form-check-input {
    background-color: var(--text-color);
    border-radius: 20px;
    outline: none;
    transition: background-color 0.3s ease;
    //padding-left: 20px !important;

    &::before {
        content: '';
        position: absolute;
        background-color: #f2f2f2;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    &:checked {
        background-color: var(--primary-color);

        &::before {
            //  left: 28px;
            background-color: var(--text-color);
        }
    }

    &:focus {
        border: none !important;
        box-shadow: none !important;
    }
}


/* Estilos para los mensajes de error */
.form-text.text-danger {
    font-size: 0.875rem; // Tamaño de fuente más pequeño
    margin-top: 0.25rem; // Espacio entre el campo y el mensaje de error
    text-align: left; // Alinea el mensaje de error a la izquierda
}

.login-side-text-sport {
    font-size: 90px;
    color: var(--primary-color);

    @media (max-width: 1228.80px) {
        font-size: 65px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 55px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 920px) {
        font-size: 55px;
    }

    @media (max-width: 877.71px) {
        font-size: 48px;
    }
}

.login-side-text-guatire {
    font-size: 90px;
    color: var(--text-color) !important;
    margin-top: 5px;

    @media (max-width: 1228.80px) {
        font-size: 65px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 55px;
        ; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 877.71px) {
        font-size: 48px;
    }

}

.login-side-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;



    @media (max-width: 790px) {
        flex-direction: column;
        align-items: center;
    }
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--text-color) !important;

    @media (max-width: 790px) {
        width: 100%;
        max-width: 200px;
    }
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--formInput-color) !important;
    font-size: 18px;

    @media (max-width: 1228.80px) {
        font-size: 14px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 10px !important; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 877.71px) {
        font-size: 8px !important;
    }
}

.btn-accent {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 18px;

    @media (max-width: 1228.80px) {
        font-size: 14px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        font-size: 10px !important; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 877.71px) {
        font-size: 8px !important;
    }
}

.login-card {
    flex: 1;
    max-width: 400px;
    padding: 30px;
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    text-align: center;
    margin-left: auto;


    @media (max-width: 1228.80px) {
        //font-size: 14px; // Aplica un margen izquierdo solo en este rango
    }

    @media (max-width: 1024px) {
        max-width: 350px; // Reducir el ancho máximo
        padding: 20px; // Reducir el padding
        max-height: 370px; // Reducir la altura máxima
        font-size: 12px; // Reducir el tamaño de la fuente si es necesario
    }

    @media (max-width: 877.71px) {
        max-width: 325px; // Reducir el ancho máximo
        padding: 20px; // Reducir el padding
        max-height: 355px; // Reducir la altura máxima
        font-size: 11px; // Reducir el tamaño de la fuente si es necesario
    }

    @media (max-width: 790px) {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
    }
}

.login-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);

    @media (max-width: 920px) {
        font-size: 24px;
    }

    @media (max-width: 790px) {
        font-size: 20px;
    }

    @media (max-width: 877.71px) {
        font-size: 19px;
    }

}

.login-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.mat-mdc-form-field {
    width: 100%;

    @media (max-width: 790px) {
        width: 90%;
    }
}

.mat-mdc-input-element {
    color: var(--text-color) !important;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    margin-bottom: 15px;
}

.login-button-primary {
    background-color: var(--primary-color) !important;
    color: black !important;
}

.login-button-accent {
    background-color: transparent;
    color: var(--text-color) !important;
}

.login-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    .mat-mdc-slide-toggle-bar {
        background-color: var(--primary-color) !important;
    }

    .mat-mdc-slide-toggle-thumb {
        background-color: var(--text-color) !important;
    }

    .mdc-label {
        margin-left: 10px;
        color: var(--text-color) !important;
    }
}

.login-form-field mat-error {
    font-size: 14px !important;
    margin-left: -20px;
}