@use '../../../custom-theme.scss' as theme;

.card-header {
    //  text-align: center;
    font-size: 1.2rem;
    background: var(--degradado-color) !important;
    /* Fondo amarillo */
    color: var(--details-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */
}

.table {
    tr {
        text-align: center;
        vertical-align: middle;
        padding: 0.75rem;
    }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.modal-header {
    font-size: 1.2rem;
    background: var(--degradado-color) !important;
    /* Fondo amarillo */
    color: var(--details-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */

    .bi-plus-lg,
    .fa-plus {
        color: var(--details-color) !important;
        font-size: 1.25rem;
        vertical-align: middle;
    }

    .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }

}

.btn-primary {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);
        color: var(--details-color);

        i {
            color: var(--details-color);
        }
    }

    i {
        transition: all 0.2s ease;
    }
}

/* Estilo moderno para scroll vertical */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, 0.5);
    /* azul translúcido */
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

//Modal detalles de pacientes
.modal-title {
    text-align: left;
    color: var(--details-color);
    //   font-weight: bold;
}

.bodyPrincipal {
    background: var(--degradado-pastel) !important;
}

.list-group {
    border: none !important;
}

.text-dark-label {
    color: var(--formLabel-color) !important;
    margin-bottom: 0px;
    font-weight: 400 !important;
    font-size: 18px;
}

.text-muted {
    color: var(--font-color-form) !important;
    margin-bottom: 0px;
    font-weight: 400 !important;
    font-size: 18px;
}

.alert-warning {
    background-color: var(--details-color) !important;
}

.text-secondary {
    margin-top: 0;
    margin-bottom: 3px;
    // color: var(--primary-color) !important;
    color: var(--formLabel-color) !important;
    font-size: 18px;
}

.text-primary {
    margin-top: 0;
    margin-bottom: 3px;
    //    color: var(--details-color) !important;
    color: var(--primary-color) !important;
    font-size: 20px;
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.table-responsive-wrapper::-webkit-scrollbar {
    height: 6px;
}

.table-responsive-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, 0.5) !important;
    border-radius: 4px;
}

.ng-dropdown-panel .ng-dropdown-panel-items::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 123, 255, 0.8) !important;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .table-responsive-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .table {
        min-width: 700px; // ajusta según columnas
        table-layout: auto;
    }

    .table th,
    .table td {
        white-space: nowrap;
        padding: 0.5rem;
        font-size: 14px;
    }

    .filtroPaciente {
        top: 10px;
    }

    .modal.fade .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .modal-content {
        max-height: 90vh;
        overflow-y: auto;
        border-radius: 12px;
        width: 100%; // se adapta al padding del dialog
    }

}