@use '../../custom-theme.scss' as theme;

.card-body {
    background-color: var(--secondary-color) !important;
    /* Fondo oscuro */
    padding: 20px;
}

.card {
    border-radius: 10px;
    background-color: #000000;
    color: var(--text-color);
}

.card-header {
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);

    .card-title {
        font-weight: bold;
        color: var(--secondary-color);
    }
}

.form-check-input {
    //background-color: red;
}

.form-label {
    font-weight: bold;
    color: var(--primary-color) !important ;
    /* Texto amarillo */
}

.form-control,
.form-select {
    border-radius: 5px;
    background-color: var(--formInput-color);
    /* Fondo oscuro del input */
    color: var(--text-color);
    //  border: 1px solid var(--primary-color); /* Borde amarillo */
    border: none;
}

.form-control:focus,
.form-select:focus {
    border-color: #FFD966;
    /* Borde amarillo m치s claro al enfocar */
    box-shadow: 0px 0px 5px #FFD966;
}

.btn-yellow {
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    color: #000000;
    padding: 12px;
    transition: background-color 0.3s;
}

.btn-yellow:hover {
    background-color: #FFD966;
    /* Amarillo m치s claro */
}

.form-check-label {
    margin-left: 8px;
    color: var(--primary-color) !important;
}

/* Switch din치mico: Amarillo cuando est치 activo, Blanco cuando no */
.form-check-input {
    background-color: var(--text-color);
    border-radius: 20px;
    outline: none;
    transition: background-color 0.3s ease;
  
    &::before {
      content: '';
      position: absolute;
      background-color: #f2f2f2;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
  
    &:checked {
      background-color: var(--primary-color);
  
      &::before {
        left: 28px;
        background-color: var(--text-color);
      }
    }
  
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }