.register-card {
    // background-color: #262524; /* Fondo oscuro */
    //  padding: 20px;
}

.card-body {
    background-color: #262524 !important;
    /* Fondo oscuro */
    padding: 20px;
}

.card {
    border-radius: 10px;
    background-color: #000000;
    /* Fondo negro de la tarjeta */
    color: white;
}

/*.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}*/

.card-header {
    text-align: center;
    font-size: 1.2rem;
    background-color: #F2C230 !important;
    color: #262524 !important;
    font-weight: bold;
    border-bottom: 2px solid #262524;

    .card-title {
        font-weight: bold;
        color: #262524;
    }
}

.form-check-input {
    background-color: red;
}

.form-label {
    font-weight: bold;
    color: #F2C230;
    /* Texto amarillo */
}

.form-control,
.form-select {
    border-radius: 5px;
    background-color: #1a1a1a;
    /* Fondo oscuro del input */
    color: white;
    //  border: 1px solid #F2C230; /* Borde amarillo */
    border: none;
}

.form-control:focus,
.form-select:focus {
    border-color: #FFD966;
    /* Borde amarillo m치s claro al enfocar */
    box-shadow: 0px 0px 5px #FFD966;
}

.btn-yellow {
    background-color: #F2C230;
    border: none;
    font-weight: bold;
    color: #000000;
    padding: 12px;
    transition: background-color 0.3s;
}

.btn-yellow:hover {
    background-color: #FFD966;
    /* Amarillo m치s claro */
}

.form-check-label {
    margin-left: 8px;
    color: #F2C230;
}

/* Switch din치mico: Amarillo cuando est치 activo, Blanco cuando no */
.form-check-input {
    background-color: white;
    border-radius: 20px;
    outline: none;
    transition: background-color 0.3s ease;
  
    &::before {
      content: '';
      position: absolute;
      background-color: #f2f2f2;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
  
    &:checked {
      background-color: #F2C230;
  
      &::before {
        left: 28px;
        background-color: white;
      }
    }
  
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }