@use '../../../custom-theme.scss' as theme;

.popover-custom {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 160px;
    z-index: 1000;
}

.popover-custom input {
    width: 100%;
    text-align: center;
}

.menu {
    width: 30%;
}

.bi-arrow-repeat {
  font-size: 1.7rem; /* ✅ Aumenta el tamaño del ícono */
  position: relative;
  top: -3px; /* ✅ Lo mueve ligeramente hacia abajo */
}
small.text-muted {
    font-size: 12px;
}

/* ✅ Quitar flechas de incremento/decremento */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}