<div class="register-container">
  <!-- Fondo -->
  <div class="register-background">
    <img class="register-background-image" src="/assets/sports-background.jpeg" alt="Fondo de Deportes">
  </div>

  <!-- Contenedor del Logo -->
  <div class="register-logo-container">
    <img class="register-logo" src="assets/apolloLogo.png" alt="APOLLO GROUP Logo" />
    <div class="register-logo-text">
      <div class="register-logo-title">APOLLO GROUP</div>
      <div class="register-logo-subtitle">Academia deportiva</div>
    </div>
  </div>

  <!-- Contenedor de la Tarjeta -->
  <div class="register-card-container">
    <div class="register-card">
      <!-- Cabecera de la Tarjeta -->
      <div class="register-header">
        <button class="back-button" mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="register-title">Registrarse</div>
      </div>

      <!-- Cuerpo de la Tarjeta -->
      <div class="card-body text-white">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Switch para Representante o Atleta -->
          <div class="mb-4 text-center">
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" formControlName="isMinor" id="isMinorSwitch">
              <label class="form-check-label text-yellow" for="isMinorSwitch">
                ¿Eres el Representante de un Atleta?
              </label>
            </div>
          </div>

          <!-- Primera Fila: Nombre y Cédula -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label text-yellow">
                {{ registerForm.get('isMinor')?.value
                ? 'Nombre y Apellido del Representante'
                : 'Nombre y Apellido del Atleta' }}
              </label>
              <input type="text" class="form-control" [formControl]="nameControl" placeholder="Ingrese el nombre completo">
              <div *ngIf="isInvalidField(registerForm.get('isMinor')?.value ? 'representativeName' : 'athleteName')"
                class="text-danger small mt-1">
                El nombre y apellido solo pueden contener caracteres alfabéticos.
              </div>
            </div>
            <div class="col-md-6" id="cedula-input">
              <label class="form-label text-yellow">
                {{ registerForm.get('isMinor')?.value
                ? 'Cédula del Representante'
                : 'Cédula del Atleta' }}
              </label>
              <input type="text" class="form-control"  [formControl]="idControl" placeholder="Ingrese la cédula">
              <div *ngIf="isInvalidField(registerForm.get('isMinor')?.value ? 'representativeId' : 'athleteId')"
                class="text-danger small mt-1">
                La cédula debe ser numérica y contener un máximo de 8 dígitos.
              </div>
            </div>
          </div>

          <!-- Segunda Fila: Teléfono y Correo Electrónico -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label text-yellow">
                {{ registerForm.get('isMinor')?.value
                ? 'Teléfono del Representante'
                : 'Teléfono del Atleta' }}
              </label>
              <input type="tel" class="form-control" [formControl]="phoneControl" placeholder="Ingrese el número de teléfono">
              <div *ngIf="isInvalidField(registerForm.get('isMinor')?.value ? 'representativePhone' : 'athletePhone')"
                class="text-danger small mt-1">
                El teléfono debe ser numérico y contener un máximo de 12 caracteres.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label text-yellow">
                {{ registerForm.get('isMinor')?.value
                ? 'Correo del Representante'
                : 'Correo del Atleta' }}
              </label>
              <input type="email" class="form-control" [formControl]="emailControl" placeholder="Ingrese el correo electrónico">
              <div *ngIf="isInvalidField(registerForm.get('isMinor')?.value ? 'representativeEmail' : 'athleteEmail')"
                class="text-danger small mt-1">
                Por favor, ingrese un correo electrónico válido.
              </div>
            </div>
          </div>

          <!-- Tercera Fila: Fecha de Nacimiento y Género -->
          <div class="row mb-3" *ngIf="!registerForm.get('isMinor')?.value">
            <div class="col-md-6">
              <label class="form-label text-yellow">Fecha de Nacimiento</label>
              <input type="date" class="form-control" formControlName="athleteDob">
              <div *ngIf="isInvalidField('athleteDob')" class="text-danger small mt-1">
                Por favor, seleccione una fecha de nacimiento válida.
              </div>
            </div>

            <div class="col-md-6" id="genero-radio">
              <label class="form-label text-yellow">Género</label>
              <div class="d-flex gap-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="hombre" value="Hombre" formControlName="genero">
                  <label class="form-check-label text-yellow" for="hombre">Hombre</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="mujer" value="Mujer" formControlName="genero">
                  <label class="form-check-label text-yellow" for="mujer">Mujer</label>
                </div>
              </div>
              <div *ngIf="isInvalidField('genero')" class="text-danger small mt-1">
                Por favor, seleccione un género.
              </div>
            </div>
          </div>

          <!-- Cuarta Fila: Contraseña y Confirmación -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label text-yellow">Contraseña</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
              <div *ngIf="isInvalidField('password')" class="text-danger small mt-1">
                La contraseña debe tener al menos 8 caracteres, incluir letras, números y símbolos opcionales.
              </div>
            </div>

            <div class="col-md-6" id="confirm-password">
              <label class="form-label text-yellow">Confirmar Contraseña</label>
              <input type="password" class="form-control" formControlName="confirmPassword"
                placeholder="Confirme la contraseña">
              <div *ngIf="isInvalidField('confirmPassword') || registerForm.errors?.['passwordsMismatch']"
                class="text-danger small mt-1">
                Las contraseñas deben coincidir.
              </div>
            </div>
          </div>

          <!-- Botón de Registro -->
          <div class="mt-4 text-center">
            <button type="submit" class="btn btn-yellow w-100" [disabled]="registerForm.invalid">
              Registrarse
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>