/* Fondo */
.register-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  .register-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* Contenedor del logo y texto */
.register-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -110px;
  margin-top: -85px;
}

.back-button {
  background-color: var(--primary-color);
}

/* Estilo del logo */
.register-logo {
  width: 250px;
  height: auto;
  margin-right: -60px;
}

/* Contenedor de texto */
.register-logo-text {
  text-align: left;

  .register-logo-title {
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
  }

  .register-logo-subtitle {
    font-size: 16px;
    color: #FFD966;
    margin-top: 5px;
  }
}

/* Tarjeta de registro */
.register-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 1;

  .register-card {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 800px;
    width: 100%;

    .register-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;


      .register-title {
        font-size: 24px;
        font-weight: bold;
        color: var(--primary-color) !important;
        flex: 1;
        text-align: center;
        margin-left: -25px;

        @media (max-width: 500px) {
          margin-left: 0px;

        }
      }
    }

    .register-form {
      display: flex;
      flex-wrap: wrap;

      .register-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
      }

      .register-form-field {
        flex: 1 1 calc(50% - 20px);
        margin-bottom: 20px;
      }

      .register-button {
        margin-top: 20px;
        width: 100%;
      }

      .register-button-primary {
        background-color: var(--primary-color) !important;
        color: var(--text-color);
      }
    }
  }
}

/* Botones y entradas */
.form-control,
.form-select {
  border-radius: 5px;
  background-color: var(--formInput-color);
  color: var(--text-color);
  border: none;
}

.form-control:focus,
.form-select:focus {
  border-color: #FFD966;
  box-shadow: 0px 0px 5px #FFD966;
}

.btn-yellow {
  background-color: var(--primary-color);
  border: none;
  font-weight: bold;
  color: var(--secondary-color) !important;
  padding: 12px;
  transition: background-color 0.3s;
  font-size: 18px;

  &:hover {
    background-color: #FFD966;
  }
}

/* Etiquetas */
.form-label {
  font-weight: bold;
  color: var(--primary-color);
}

.form-switch.form-check {
  @media (max-width: 500px) {
    display: flex;
    align-items: center;

  }
}

/* Estilo para el label */
.form-switch .form-check-label {
  color: white !important;
  margin-left: 8px;
  color: var(--primary-color);

  @media (max-width: 500px) {
    margin-left: 20px;
    cursor: pointer;
    text-align: start;

  }

}

/* Tarjetas adicionales */
.card-body {
  background-color: var(--secondary-color) !important;
  padding: 10px;
  margin-top: 0px !important;
}

.card-header {
  background-color: #000000;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* Switch dinámico: Amarillo cuando está activo, Blanco cuando no */
.form-check-input {
  background-color: var(--text-color);
  border-radius: 20px;
  outline: none;
  transition: background-color 0.3s ease;

  @media (max-width: 500px) {
    margin-left: -20px !important;
    margin-top: 0;
    cursor: pointer;

  }

  &::before {
    content: '';
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  &:checked {
    background-color: var(--primary-color);

    &::before {
      left: 28px;
      background-color: var(--text-color);
    }
  }

  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

.form-check-input:checked {
  background-color: #ffc107; /* Amarillo para coincidir con tu tema */
  border-color: #ffc107;
}

.form-check-label a {
  text-decoration: underline;
  cursor: pointer;
}

.custom-confirm-button-class, .custom-cancel-button-class {
  margin: 0 5px; /* Reduce el espacio horizontal entre los botones */
}

.custom-cancel-button-class {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes */
  padding: 8px 15px; /* Ajusta el tamaño del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .register-logo-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .register-logo {
    width: 100px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .register-card {
    max-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {

  #cedula-input {
    margin-top: 15px !important;
  }

  #genero-radio {
    margin-top: 15px !important;
  }

  #confirm-password {
    margin-top: 15px !important;
  }

  #email-input {
    margin-top: 15px !important;
  }

  .register-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 15px !important;
    margin-top: -30px;
  }

  .register-logo {
    width: 185px;
    margin: 0;
    height: auto;
  }

  .register-logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-left: -45px !important;
  }

  .register-logo-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
  }

  .register-logo-subtitle {
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
  }

  .register-card-container {
    margin-top: -100px;
  }
}

@media (max-width: 400px) {
  .register-logo-container {
    margin-left: -50px !important;
    width: 110% !important;
  }

  .register-logo-text {
    .register-logo-title {
      font-size: 20px;
    }

    .register-logo-subtitle {
      font-size: 15px;
    }
  }
}

@media (max-width: 300px) {
  .register-logo-container {
    margin-left: -30px !important;
    width: 100% !important;
  }

  .register-logo-text {
    .register-logo-title {
      font-size: 20px;
    }

    .register-logo-subtitle {
      font-size: 15px;
    }
  }
}