.custom-toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.custom-toggle input {
    display: none;
}

.card-header {
    font-size: 1.2rem;
    background: var(--degradado-color) !important;
    color: var(--details-color) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
}

.card-body {
  padding-bottom: calc(70px + 1rem); /* más respiración visual */
}


.limpiar-filtros-btn {
    background-color: #ffc107;
    color: #212529;
    border: none;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s ease;
    height: 36px;
    margin-top: 4px;
}

.limpiar-filtros-btn:hover {
    background-color: #ffca2c;
}


.toggle-track {
    width: 50px;
    height: 26px;
    background-color: #ddd;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-track .toggle-indicator {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.custom-toggle input:checked+.toggle-track {
    background-color: #0d6efd;
    /* Bootstrap primary */
}

.custom-toggle input:checked+.toggle-track .toggle-indicator {
    transform: translateX(24px);
}