<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card shadow-lg register-card">
            <!-- Cabecera de la Tarjeta -->
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">Registro de Atleta</h3>
            </div>
            <div class="card-body text-white">
                <form [formGroup]="crearAtletaForm" (ngSubmit)="onSubmit()">
                    <!-- Primera Fila: Nombre y Cédula -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="nombre" class="form-label text-yellow">Nombre y Apellido</label>
                            <input type="text" id="nombre" class="form-control" formControlName="nombre"
                                placeholder="Ingrese el nombre completo" />
                            <div *ngIf="isInvalidField('nombre')" class="text-danger small mt-1">
                                El nombre y apellido solo pueden contener caracteres alfabéticos.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="cedula" class="form-label">Cédula  (Opcional)</label>
                            <input type="text" id="cedula" class="form-control" formControlName="cedula"
                                placeholder="Ingrese la cédula" />
                            <div *ngIf="isInvalidField('cedula')" class="text-danger small mt-1">
                                La cédula debe ser numérica y contener un máximo de 8 dígitos.
                            </div>
                        </div>
                    </div>

                    <!-- Segunda Fila: Teléfono y Correo Electrónico -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="telefono" class="form-label text-yellow">Teléfono (Opcional)</label>
                            <input type="tel" id="telefono" class="form-control" formControlName="telefono"
                                placeholder="Ingrese el número de teléfono" />
                            <div *ngIf="isInvalidField('telefono')" class="text-danger small mt-1">
                                El teléfono debe ser numérico y contener un máximo de 12 caracteres.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label text-yellow">Correo Electrónico (Opcional)</label>
                            <input type="email" id="email" class="form-control" formControlName="email"
                                placeholder="Ingrese el correo electrónico" />
                            <div *ngIf="isInvalidField('email')" class="text-danger small mt-1">
                                Por favor, ingrese un correo electrónico válido.
                            </div>
                        </div>
                    </div>

                    <!-- Tercera Fila: Fecha de Nacimiento y Género -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="athleteDob" class="form-label text-yellow">Fecha de Nacimiento</label>
                            <input type="date" id="athleteDob" class="form-control" formControlName="athleteDob" />
                            <div *ngIf="isInvalidField('athleteDob')" class="text-danger small mt-1">
                                Por favor, seleccione una fecha de nacimiento válida.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label text-yellow">Género</label>
                            <div class="d-flex gap-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="hombre" formControlName="genero"
                                        value="Hombre" />
                                    <label class="form-check-label text-yellow" for="hombre">Hombre</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="mujer" formControlName="genero"
                                        value="Mujer" />
                                    <label class="form-check-label text-yellow" for="mujer">Mujer</label>
                                </div>
                            </div>
                            <div *ngIf="isInvalidField('genero')" class="text-danger small mt-1">
                                Por favor, seleccione un género.
                            </div>
                        </div>
                    </div>

                    <!-- Botón de Registro -->
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-yellow w-100" [disabled]="crearAtletaForm.invalid">
                            Registrarse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>