.filtros-header {
    background-color: var(--secondary-color) !important;
    /* Color amarillo destacado */
    padding: 10px 15px;
    border-radius: none;
    color: var(--text-color);
}

.filtros-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
}

.filtros-input {
    border: none;
    background-color: #1e1e1e;
    color: var(--text-color);
}

.filtros-btn {
    background-color: var(--primary-color);
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.filtros-btn:hover {
    background-color: #FFD966;
    /* Color más claro para hover */
}

.filtros-select {
    border: none;
    background-color: #1e1e1e;
    color: var(--text-color);
}

.filtros-select:focus {
    border: none;
    //background-color: #FFD966;
    color: var(--text-color);
}

/* Personalizar los <option> cuando están seleccionados */
.option {
    background-color: rgba(40, 40, 40, 0.9);
    /* Fondo oscuro */
    color: red;
    /* Texto blanco */
    padding: 5px;
    border: none;
}

.option:hover,
option:focus {
    background-color: var(--primary-color);
    /* Fondo amarillo al pasar el mouse o al enfocarlo */
    color: black;
    /* Texto negro para contraste */
}

.filtros-body {
    background-color: var(--secondary-color) !important;
    color: var(--text-color);
    padding: 15px;

}

/* Botones de la tabla */
.pagination .page-link {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: black;
}


/* General para la tabla */
.custom-table {
    color: var(--text-color);
    /* Texto blanco para las celdas */
    border-color: var(--primary-color);
    /* Borde amarillo */
    background-color: rgba(40, 40, 40, 0.9);
    /* Fondo oscuro */

    a.text-primary {
        color: var(--primary-color) !important;

        &:hover {
            color: var(--text-color) !important;
        }
    }
}

.custom-table th {
    background-color: var(--primary-color) !important;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.table td {
    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color);
    color: #9c9c9c;
    text-align: center;

    &:hover {
        color: var(--text-color) !important;
    }

}

/* Hover en las filas */
.table tbody tr:hover {
    background-color: rgba(242, 194, 48, 0.2);
    cursor: pointer;
}

/* Botones de paginación */
.pagination .page-link {
    background-color: transparent;
    /* Fondo transparente */
    border: 2px solid var(--primary-color);
    /* Borde amarillo */
    color: var(--text-color);
    /* Texto blanco */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color);
    /* Fondo amarillo para la página activa */
    color: black;
    /* Texto negro para contraste */
    border-color: var(--primary-color);
}

.pagination .page-link:hover {
    background-color: #FFD966;
    /* Amarillo más claro al pasar el mouse */
    color: black;
    /* Cambia el texto a negro en hover */
}

/* Mensaje si no hay resultados */
.no-results-message {
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
    /* Color amarillo para destacar */
    font-weight: bold;
    margin-top: 20px;
}