@use '../../../../custom-theme.scss' as theme;

.card-header {
    //  text-align: center;
    font-size: 1.2rem;
    background: var(--degradado-color) !important;
    /* Fondo amarillo */
    color: var(--details-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */
}

.table {
    tr {
        text-align: center;
        vertical-align: middle;
        padding: 0.75rem;
    }
}

.modal-header {
    font-size: 1.2rem;
    background: var(--degradado-color) !important;
    /* Fondo amarillo */
    color: var(--details-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */

    .bi-plus-lg,
    .fa-plus {
        color: var(--details-color) !important;
        font-size: 1.25rem;
        vertical-align: middle;
    }

    .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }

}

.btn-primary {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);
        color: var(--details-color);

        i {
            color: var(--details-color);
        }
    }

    i {
        transition: all 0.2s ease;
    }
}



//Modal detalles de pacientes
.modal-title {
    text-align: left;
    color: var(--details-color);
    //   font-weight: bold;
}

.bodyPrincipal {
    background: var(--degradado-pastel) !important;
}

.text-dark {
    color: #343a40 !important;
    margin-bottom: 15px;
    font-weight: 400 !important;
    font-size: 18px;
}

.text-secondary {
    margin-top: 0;
    margin-bottom: 3px;
    color: var(--primary-color) !important;
    font-size: 20px;
}

.sortable {
  cursor: pointer;
  user-select: none;
}
