<router-outlet></router-outlet>



<!-- Modal Global -->
<div class="modal fade" id="globalModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Título del Modal</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">Texto informativo del modal.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success btn-confirm" data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>