@use '../custom-theme.scss' as theme;

.btn-confirm {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);
        color: var(--details-color);

        i {
            color: var(--details-color);
        }
    }

    i {
        transition: all 0.2s ease;
    }
}

.modal-header{
      font-size: 1.2rem;
    background: var(--degradado-color) !important;
    /* Fondo amarillo */
    color: var(--details-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */
}