<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9">
            <div class="card">
                <!-- Pestañas de Navegación -->
                <ul class="nav nav-tabs nav-justified" id="myAccountTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="edit-personal-info-tab" data-bs-toggle="tab"
                            href="#editPersonalInfo" role="tab" aria-controls="editPersonalInfo" aria-selected="true"
                            (click)="switchTab('personalInfo')">
                            <i class="fas fa-user-edit"></i> Editar Información Personal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-password-tab" data-bs-toggle="tab" href="#editPassword" role="tab"
                            aria-controls="editPassword" aria-selected="false" (click)="switchTab('password')">
                            <i class="fas fa-key"></i> Editar Contraseña
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="currentRol?.key === 'admin'">
                        <a class="nav-link" id="edit-unique-password-tab" data-bs-toggle="tab"
                            href="#editUniquePassword" role="tab" aria-controls="editUniquePassword"
                            aria-selected="false" (click)="switchTab('uniquePassword')">
                            <i class="fas fa-lock"></i> Contraseña Única
                        </a>
                    </li>

                </ul>

                <!-- Contenido de las Pestañas -->
                <div class="tab-content mt-4" id="myAccountTabContent">
                    <!-- Tab: Editar Información Personal -->
                    <div class="tab-pane fade show active" id="editPersonalInfo" role="tabpanel"
                        aria-labelledby="edit-personal-info-tab">
                        <!-- Widget de Imagen -->
                        <div class="text-center mb-4">
                            <div class="avatar-widget">
                                <img [src]="getProfileImage()" alt="Avatar del Usuario" class="avatar-img"
                                    (error)="handleImageError($event)"> <!-- Cambia onerror por (error) -->

                                <div class="avatar-overlay"
                                    [ngClass]="{'show-on-hover': avatarPreview || user.ruta_imagen}">
                                    <label for="avatarUpload">
                                        <i class="fas fa-camera"></i>
                                    </label>
                                    <input type="file" id="avatarUpload" accept="image/*" style="display: none;"
                                        (change)="onFileSelected($event)">
                                </div>
                            </div>
                        </div><br>

                        <!-- Formulario de Información Personal -->
                        <form #personalInfoForm="ngForm">
                            <div class="form-row">
                                <!-- Campo: Cédula -->
                                <div class="form-group col-md-4">
                                    <label for="cedula">Cédula</label>
                                    <input type="text" id="cedula" class="form-control" [(ngModel)]="user.cedula"
                                        name="cedula" disabled [ngClass]="'disabled-input'" />
                                </div>

                                <!-- Campo: Cargo -->
                                <div class="form-group col-md-4">
                                    <label for="cargo">Cargo actual</label>
                                    <input id="cargo" class="form-control" [(ngModel)]="userCargoSeleccionado"
                                        name="cargo" disabled [ngClass]="'disabled-input'" />
                                </div>


                                <!-- Campo: Nombre Completo -->
                                <div class="form-group col-md-4">
                                    <label for="nombreCompleto">Apellido y Nombre</label>
                                    <input type="text" id="nombre" class="form-control" [(ngModel)]="user.nombre"
                                        name="nombreCompleto" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$" #nombre="ngModel"
                                        required (input)="detectChanges()" />
                                    <small *ngIf="nombre.invalid && nombre.touched" class="text-danger">
                                        Solo se permiten letras y espacios.
                                    </small>
                                </div>
                            </div>

                            <div class="form-row">
                                <!-- Campo: Correo Electrónico -->
                                <div class="form-group col-md-4">
                                    <label for="correo">Correo Electrónico</label>
                                    <input type="email" id="correo" class="form-control" [(ngModel)]="user.correo"
                                        name="correo" email #correo="ngModel" required (input)="detectChanges()" />
                                    <small *ngIf="correo.invalid && correo.touched" class="text-danger"
                                        id="correoError">
                                        Introduzca un correo electrónico válido.
                                    </small>
                                </div>
                                <!-- Campo: Teléfono -->
                                <div class="form-group col-md-4">
                                    <label for="telefono">Teléfono</label>
                                    <input type="tel" id="telefono" class="form-control" [(ngModel)]="user.telefono"
                                        name="telefono" (input)="validarTelefono()" (blur)="validarTelefono()"
                                        placeholder="Ej. 04123920817" />

                                    <small *ngIf="mostrarErrorTelefono" class="text-danger" id="correoPhone">
                                        Introduzca un número de teléfono válido (11 dígitos).
                                    </small>
                                </div>

                                <!-- Campo: Fecha de Nacimiento -->
                                <div class="form-group col-md-4">
                                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                    <input type="date" id="fechaNacimiento" class="form-control"
                                        [(ngModel)]="user.fecha_nacimiento" name="fechaNacimiento" required
                                        (input)="detectChanges()" />
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-success"
                                    [disabled]="!isFormEdited || !isPersonalInfoValid()"
                                    (click)="openModal('personalInfoModal')">
                                    Guardar Cambios
                                </button>
                            </div>
                        </form>
                    </div>


                    <!-- Tab: Editar Contraseña -->
                    <div class="tab-pane fade" id="editPassword" role="tabpanel" aria-labelledby="edit-password-tab">
                        <form #passwordForm="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-6 position-relative">
                                    <label for="contrasena">Nueva Contraseña</label>
                                    <input [type]="showPassword ? 'text' : 'password'" id="contrasena"
                                        class="form-control" [(ngModel)]="contrasena" name="contrasena"
                                        (input)="validatePasswords()" minlength="8"
                                        placeholder="Ingrese su nueva contraseña" required />
                                    <button class="btn btn-outline-secondary password-toggle position-absolute"
                                        type="button" (click)="toggleShowPassword()"
                                        style="right: 5px; top: 73%; transform: translateY(-50%);">
                                        <i class="bi" [class.bi-eye]="!showPassword"
                                            [class.bi-eye-slash]="showPassword"></i>
                                    </button>
                                    <small *ngIf="!passwordValid && contrasena" class="text-danger">
                                        La contraseña debe tener al menos 8 caracteres.
                                    </small>
                                </div>

                                <div class="form-group col-md-6 position-relative">
                                    <label for="confirmarContrasena">Confirmar Contraseña</label>
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmarContrasena"
                                        class="form-control" [(ngModel)]="confirmarContrasena"
                                        name="confirmarContrasena" (input)="validatePasswords()"
                                        placeholder="Confirme su nueva contraseña" required />
                                    <button class="btn btn-outline-secondary password-toggle position-absolute"
                                        type="button" (click)="toggleShowConfirmPassword()"
                                        style="right: 5px; top: 73%; transform: translateY(-50%);">
                                        <i class="bi" [class.bi-eye]="!showConfirmPassword"
                                            [class.bi-eye-slash]="showConfirmPassword"></i>
                                    </button>
                                    <small *ngIf="!passwordsMatch && confirmarContrasena" class="text-danger">
                                        Las contraseñas no coinciden.
                                    </small>
                                </div>
                            </div>


                            <div class="text-right">
                                <button type="button" class="btn btn-success" [disabled]="!formValid"
                                    (click)="initiatePasswordChange()">
                                    Cambiar Contraseña
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Sección de Contraseña Única -->
                    <div class="tab-pane fade" id="editUniquePassword" role="tabpanel"
                        aria-labelledby="edit-unique-password-tab">
                        <form #uniquePasswordForm="ngForm">
                            <div class="form-group position-relative">
                                <label for="uniquePassword">
                                    Contraseña Única
                                    <span *ngIf="!existingUniquePassword" class="text-warning">(No hay una contraseña
                                        única creada en este momento)</span>
                                </label>
                                <input [type]="showUniquePassword ? 'text' : 'password'" id="uniquePassword"
                                    class="form-control" [(ngModel)]="uniquePassword" name="uniquePassword"
                                    (input)="validateUniquePassword()" minlength="6" maxlength="20"
                                    placeholder="Ingrese su contraseña única" required />
                                <button class="btn btn-outline-secondary password-toggle position-absolute"
                                    type="button" (click)="toggleShowUniquePassword()"
                                    style="right: 0px; top: 72%; transform: translateY(-50%);">
                                    <i class="bi" [class.bi-eye]="!showUniquePassword"
                                        [class.bi-eye-slash]="showUniquePassword"></i>
                                </button>
                                <small *ngIf="!uniquePasswordValid && uniquePassword" class="text-danger">
                                    La contraseña debe tener entre 6 y 20 caracteres, incluyendo números y caractéres
                                    especiales.
                                </small>

                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-success" [disabled]="!uniquePasswordValid"
                                    (click)="initiateUniquePasswordChange()">
                                    {{ existingUniquePassword ? 'Modificar Contraseña' : 'Guardar Contraseña' }}
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal para Confirmación de Información Personal - Versión Centrada -->
        <div class="modal fade" id="personalInfoModal" tabindex="-1" aria-labelledby="personalInfoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="personalInfoModalLabel">
                            Confirmar Información Personal
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿La información ingresada es correcta? Presione confirmar para proceder.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-success" (click)="savePersonalInfo()"
                            data-bs-dismiss="modal">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal verificacion OTP -->
        <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="otpModalLabel">Código OTP Requerido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Hemos enviado un código OTP de 6 dígitos al correo electrónico registrado.
                        Por favor, ingréselo a continuación:
                        <div class="form-group mt-3">
                            <input type="text" maxlength="6" class="form-control text-center" [(ngModel)]="otpCode"
                                name="otpCode" (keypress)="validateNumberInput($event)" placeholder="000000" />
                        </div>
                        <div *ngIf="otpError" class="text-danger mt-2">{{otpError}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="verifyOtp(otpFlow)"
                            [disabled]="isVerifyingOtp">
                            {{ isVerifyingOtp ? 'Verificando...' : 'Validar' }}
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Confirmación para Contraseña Única -->
        <div class="modal fade" id="uniquePasswordModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmación de Cambio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea cambiar la contraseña única? Esto requiere validación con OTP.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="confirmUniquePasswordChangeRequest()"
                            data-bs-dismiss="modal">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>