@use '../../../custom-theme.scss' as theme;

.card {
    width: 100%; // Siempre ocupa el ancho completo
    margin: 1rem auto; // Centra la tarjeta si hay márgenes disponibles
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0; // Evita espacios adicionales en los bordes de la pantalla
}

.row.justify-content-center {
    width: 100%; // Se asegura de que los elementos dentro ocupen toda la línea
}


.avatar-widget {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1; // Asegura que la imagen esté por encima del overlay
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; // Asegura que el overlay esté por encima de la imagen
    opacity: 1; // Visible por defecto
    transition: opacity 0.3s ease;

    .fa-camera {
        color: white;
        font-size: 24px;
    }
}

// Clase para ocultar el overlay cuando hay una imagen cargada
.show-on-hover {
    opacity: 0; // Inicialmente invisible

    &:hover {
        opacity: 1; // Visible al hacer hover
    }
}

.card-header {
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--primary-color) !important;
    /* Fondo amarillo */
    color: var(--formInput-color) !important;
    /* Texto negro */
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    /* Línea divisoria negra */
}

.card-title {
    font-weight: bold;
    color: var(--secondary-color);
}

.card-body {
    background-color: var(--secondary-color);
    /* Fondo negro */
    color: var(--primary-color);
    /* Texto amarillo */
    padding: 1.5rem;
}

/* Header Mejorado */
.card-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, var(--primary-color));
    /* Gradiente de amarillo a naranja */
    color: var(--secondary-color);
    /* Texto negro */
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    /* Bordes superiores redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra elegante */
}

/* Estilo para las pestañas */
.nav-tabs {
    border-bottom: 2px solid var(--primary-color);
    /* Línea divisoria amarilla */
    background-color: var(--secondary-color);
    /* Fondo negro para las pestañas */
    border-radius: 10px 10px 0 0;
    /* Bordes superiores redondeados */
}

.nav-tabs .nav-item {
    flex: 1;
    /* Las pestañas ocupan el mismo espacio */
    text-align: center;
}

.nav-tabs .nav-link {
    color: var(--primary-color);
    /* Color amarillo para pestañas */
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    /* Sin línea al inicio */
    padding: 0.8rem;
}

.nav-tabs .nav-link.active {
    color: var(--secondary-color);
    /* Texto negro */
    background: var(--degradado-color);
    /* Fondo amarillo */
    border-bottom: 3px solid var(--details-color) !important;
    ;
    /* Línea subrayada naranja */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    /* Sombra para la pestaña activa */
}

.nav-tabs .nav-link:hover {
    //color: black;
    /* Naranja al pasar el ratón */
}

/* Sombra en el contenido de las pestañas */
.tab-content {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo de los inputs */
input.form-control,
textarea.form-control,
select.form-control {
    /*    background-color: var(--secondary-color);
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;*/
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #e1e1e1;
    color: var(--formInput-color);
    transition: all 0.3s ease;
    padding: 5px 15px;
    //  margin-bottom: 20px;
    border-radius: 8px;

    &:focus {
        border-color: var(--primary-color) !important;
        background: #fff;
        box-shadow: 0 0 0 2px rgba(0, 120, 215, 0.2);
        outline: none;
    }

}

input.form-control::placeholder {
    color: var(--primary-color);
    /* Texto placeholder amarillo */
    opacity: 0.8;
}

/* Botón de guardar */
button.btn-success {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);

        i {
            color: #fff; // Icono azul
        }
    }

    i {
        transition: all 0.2s ease;
    }
}

.disabled-input {
    background-color: #e0e0e0 !important;
    /* Color gris */
    cursor: not-allowed;
}

/*button.btn-success:hover {
    background-color: #e6c200;
    color: #000000;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4);
    transform: scale(1.05);
}*/

button.btn-success:active {
    background-color: #cba800;
    transform: scale(0.98);
    /* Efecto de clic */
}

.text-danger {}

/* Estilos para el modal centrado */
#personalInfoModal,
#otpModal, #uniquePasswordModal {
    .modal-dialog {
        &.modal-dialog-centered {
            min-height: calc(100% - 1rem);

            @media (min-width: 576px) {
                min-height: calc(100% - 3.5rem);
                max-width: 500px;
            }
        }

        .modal-content {
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            border: none;
        }
    }

    .modal-header {
        background: var(--degradado-color) !important;
        color: var(--details-color);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1.2rem;

        .modal-title {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .btn-close {
            filter: invert(1);
            opacity: 0.8;
            transition: opacity 0.2s;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal-body {
        padding: 1.5rem;
        text-align: center;
        font-size: 1.05rem;
        line-height: 1.5;
        background-color: var(--secondary-color);
        color: var(--formInput-color);
    }

    .modal-footer {
    //    justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem;
        background-color: var(--secondary-color);

        .btn {
            min-width: 100px;
            margin: 0 0.5rem;
            padding: 0.5rem 1.25rem;
            font-weight: 500;

            &.btn-success {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.btn-outline-secondary {
    background: var(--degradado-color);
    border: var(--degradado-color);
    border-left: none;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 120, 215, 0.3);

        i {
            color: #fff; // Icono azul
        }
    }

    i {
        transition: all 0.2s ease;
    }
}

.form-group {
    position: relative;
    // min-height: 70px; // Define una altura mínima para que el mensaje no empuje el contenido
}

small.text-danger {
    position: absolute;
    // bottom: -20px; // Mueve el mensaje debajo del input sin afectar su altura
    // left: 6px;
}

#correoError, #correoPhone {
    position: absolute;
    bottom: -20px;
    left: 7px;
    text-align: left;
}



.form-row {
    margin-bottom: 20px;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 575.98px) {

    #personalInfoModal,
    #otpModal, #uniquePasswordModal {
        .modal-dialog {
            margin: 0.5rem auto;
        }

        .modal-content {
            border-radius: 0;
        }

        .modal-footer {
            .btn {
                width: 45%;
                margin: 0 2.5%;
            }
        }
    }
}