@use '../../custom-theme.scss' as theme;

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.forgot-password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.forgot-password-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot-password-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    // margin-bottom: 20px;
}

.forgot-password-logo {
    width: 250px;
    height: auto;
    margin-top: -110px;
}

.forgot-password-logo-text {
    text-align: center;
    margin-top: -95px;
}

.forgot-password-logo-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.forgot-password-logo-subtitle {
    font-size: 16px;
    color: white;
}

.forgot-password-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.forgot-password-card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(40, 40, 40, 0.9);
    background-color: rgba(40, 40, 40, 0.9);
    max-width: 500px;
    width: 100%;
    max-height: 355px;
}

.forgot-password-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    /* Aseguramos el espacio adecuado */
}

.back-button {
    color: #F2C230 !important;
    margin-left: -10px;
}

.forgot-password-title {
    font-size: 24px;
    font-weight: bold;
    color: #F2C230 !important;
    flex: 1;
    text-align: center;
    /* Centramos el título */
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-section {
    flex: 1;
    margin-bottom: -20px;
}

.forgot-password-form-field {
    margin-bottom: 20px;
    width: 100%;
}

.forgot-password-button {
    margin-top: 20px;
    width: 100%;
}

.forgot-password-button-primary {
    background-color: #F2C230 !important;
    color: white;
}

.forgot-password-info {
    margin-top: 20px;
    color: #ccc;
    text-align: center;
}

.mat-mdc-input-element {
    color: #fff !important;
    /* Color del texto blanco al escribir */
    caret-color: #fff !important;
    /* Color del cursor blanco */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .forgot-password-form {
        flex-direction: column;
    }

    .forgot-password-form-field {
        width: 100%;
    }

    .forgot-password-button {
        width: 100%;
    }
}