@use '@angular/material' as mat;
@include mat.core();

// Define las paletas de colores utilizando las funciones correctas
$primary-palette: mat.m2-define-palette(mat.$m2-yellow-palette, A400, A100, A700);
$accent-palette: mat.m2-define-palette(mat.$m2-orange-palette);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

// Define el tema personalizado
$myapp-theme: mat.m2-define-light-theme((color: (primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette,
      )));

// Aplica el tema a la aplicación
@include mat.all-component-themes($myapp-theme);

// Exportar los colores principales de la paleta
$primary: mat.m2-get-color-from-palette($primary-palette, 'default');
$accent: mat.m2-get-color-from-palette($accent-palette, 'default');
$warn: mat.m2-get-color-from-palette($warn-palette, 'default');

/* Variables para colores y estilos comunes */
/* Variables globales en :root para estilos personalizados */
:root {
  // Colores principales
  --primary-color: #3a7bd5;
  --primary-color-dark: #005a9e;
  --primary-color-light: #5d9cff;
  --primary-color-rgb: 58, 123, 213;
  --degradado-color: linear-gradient(135deg, var(--primary-color) 0%, #3E7CB1 100%);

  /* Degradados suaves alternativos */
  --degradado-light: linear-gradient(135deg, #8ab5f0 0%, #a8c8f5 100%);
  --degradado-pastel: linear-gradient(135deg, #d6e6fc 0%, #e3eefd 100%);

  --placeholder-color: #94a3b8;
  --placeholder-focus: #cbd5e1;

  // Colores secundarios
  //--secondary-color-light: #eae9e9;
  // --secondary-color: #eae9e9;
  --secondary-color-light: #d1d1d6;
  --secondary-color: #f0f0f5;

  // Colores de UI
  --card-color: #f0f0f5;
  --formInput-color: #333;
  --text-color: white;
  --border-color: var(--primary-color);
  --details-color: #FFC107;
  --success-color: #38a169;

  // Variables de diseño
  --border-radius: 4px;
  --transition: all 0.3s ease;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

::ng-deep .ng-dropdown-panel-items.scroll-host {
  max-height: 120px !important; // aproximadamente para 3 ítems de ~50px cada uno
  overflow-y: auto !important;
}

::ng-deep .paciente-card ul {
  white-space: nowrap !important;
  overflow-x: auto !important;
}




/* Estilos comunes para campos de texto en formularios de login y registro */
.login-form-field .mat-mdc-notched-outline,
.register-form-field .mat-mdc-notched-outline,
.forgot-password-form-field .mat-mdc-notched-outline .login-form-field .mdc-notched-outline__leading,
.login-form-field .mdc-notched-outline__trailing,
.register-form-field .mdc-notched-outline__leading,
.register-form-field .mdc-notched-outline__trailing,
.forgot-password-form-field .mdc-notched-outline__leading,
.forgot-password-form-field .mdc-notched-outline__trailing,
.login-form-field .mdc-notched-outline__notch,
.register-form-field .mdc-notched-outline__notch,
.forgot-password-form-field .mdc-notched-outline__notch,
.forgot-password-form-field .mdc-notched-outline__notch {
  border-color: var(--border-color) !important;
  /* Borde amarillo con importancia */
}

/* Estilos para las etiquetas flotantes */
.login-form-field .mat-mdc-floating-label,
.register-form-field .mat-mdc-floating-label,
.forgot-password-form-field .mat-mdc-floating-label {
  color: var(--primary-color) !important;
  /* Color de etiqueta amarillo con importancia */
  background-color: transparent !important;
  /* Fondo para ocultar el borde detrás del label */
  padding: 0 4px;
  /* Añadir padding para mejorar la apariencia */
}

/* Ocultar la línea no deseada */
.mdc-notched-outline__leading {
  display: none !important;
  /* Ocultar línea con importancia */
}

/* Estilos para el contenedor del campo de texto */
.mat-mdc-text-field-wrapper {
  border-radius: var(--border-radius);
  padding-left: 10px;
  /* Añadir padding para evitar superposición de texto */
  transition: var(--transition);
  /* Añadir transición suave */
  border: none;
}

/* Estilos para el campo de texto cuando está en foco */
.mat-mdc-text-field-wrapper:focus-within,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-infix:focus-within {
  border-color: var(--border-color);
  /* Mantener borde amarillo cuando está en focus */
}

/* Asegurar que el infix no tenga bordes */
.mat-mdc-form-field-infix {
  border: none;
  /* Asegúrate de que esta propiedad no esté causando el problema */
}

/* ESTILOS PARA EL CAMPO DE EMAIL */
.forgot-password-form-field {

  .mdc-text-field__input {

    /* Placeholder INVISIBLE por defecto */
    &::placeholder {
      opacity: 0 !important;
      transition: opacity 0.2s ease;
    }

    /* Placeholder VISIBLE solo con foco */
    &:focus::placeholder {
      opacity: 1 !important;
      //  color: var(--secondary-color-color) !important;
    }
  }
}

.forgot-password-section {
  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-error-wrapper {
      padding: 0 !important;
      left: -5px;
    }
  }
}