@use 'custom-theme' as *;
/* src/styles.scss */
@use 'app/services/swal/swal.service.scss' as swal;




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
