@use './custom-theme.scss' as *;
/* src/styles.scss */
@use 'app/core/services/swal/swal.service.scss' as swal;
@import "~@ng-select/ng-select/themes/default.theme.css";




html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
